<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <title>Aplicación test de Dealer {% block titulo %}{% endblock %}</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% block style_css %}{% endblock %}
     <style>
    .errorlist {
        list-style-type: none;
        color: red;
    }
 </style>
</head>
<body>

  <header>
	{% block encabezado %}{% endblock %}
      <div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
            <nav>
                <ul id='menu'>
                  {% if user.is_authenticated %}
                      <li><a href='/'>Usuario: {{ user.get_username }}</a></li>
                      <li><a href="{% url 'logout'%}">Salir de sesion</a></li>
                      <li><a href="{% url 'report-package' %}">Reporte de paquete</a></li>
                  {% else %}
                    <li><a href="{% url 'login'%}">Autenticar</a></li>
                  {% endif %}
                 <li><a href="{% url 'tracking-package' %}">Rastrear paquete</a></li>
                  <li><a href="{% url 'create-package' %}">Registrar paquete</a></li>
                  <li><a href="{% url 'update-package' %}">Actualizar paquete</a></li>
                </ul>

	        </nav>
        </div>
		<div class="col-sm-4"></div>
	</div>
	<hr>
  </header>	
  <section class='contenido'>
	{% block contenido %}{% endblock %}
  </section>
  <div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
            <footer>
	            <p>Test para Dealer Geek</p>
            </footer>
        </div>
		<div class="col-sm-4"></div>
	</div>

</body>
</html>
