{% extends 'base.html' %}
{% block titulo %} Tests de Dealer- Rastrear paquetes {% endblock %}
{% block css %}
  <style>
	img { width:100px; }
  </style>
{% endblock %}
{% block encabezado %}
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4"><h1>Menú</h1></div>
		<div class="col-sm-4"></div>
	</div>

{% endblock %}

{% block contenido %}
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4"><h1>Reporte de paquetes </h1></div>
		<div class="col-sm-4"></div>
	</div>
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<form id='form_report' method='post' enctype='multipart/form-data'>
				<div class="row">
					<div class="col-sm-4"></div>
					<div class="col-sm-4">
						{% csrf_token %}
						{{form.as_p}}
						<p><input type='submit' value='Reportar' class="btn btn-primary"/></p>
					</div>
					<div class="col-sm-4"></div>
				</div>
			</form>
		</div>
		<div class="col-sm-4"></div>
	</div>

	<div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        {% if trackings %}
                        {% load djutils %}
                            <h3>Datos de rastreo para la fecha</h3>
                            <table align="center" style="margin: 2px auto;">
                                <thead>
                                    <tr align="center">
                                        <th>ID del paquete </th>
                                        <th>Estado del paquete </th>
                                        <th>Fecha de rastreo</th>
                                        <th>Ubicación</th>
                                        <th>Tipo de Ubicación</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for element in trackings %}
                                        <tr align="center">
                                            <td>{{ element.package.id }}</td>
                                            <td>{{ Status|get_by_name:element.package.status }}</td>
                                            <td>{{ element.date  }} {{element.date|date:"SHORT_DATE_FORMAT"}} {{element.date|time:"h:i a"}}</td>
                                            <td>{{ element.address }}</td>
                                            <td>{% if element.status == 'I' %} Origen {% elif element.status == 'E' %} Destino {% else %} Ciudad de tránsito {% endif %} </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                        <h3> No hay datos de rastreo para la fecha seleccionada</h3>
                        {% endif %}
                    </div>
                    <div class="col-sm-4"></div>
                </div>
{% endblock %}
