{% extends 'base.html' %}
{% block titulo %} Tests de Dealer- Actualizar paquete {% endblock %}
{% block style_css %}

{% endblock %}

{% block encabezado %}
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4"><h1>Menú</h1></div>
		<div class="col-sm-4"></div>
	</div>

{% endblock %}

{% block contenido %}
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4"><h1>Actualizar paquete </h1></div>
		<div class="col-sm-4"></div>
	</div>
	<form id='form_package' method='post' enctype='multipart/form-data' novalidate>
		{% csrf_token %}
		<div class="row">
			<div class="col-sm-4"></div>
				<div class="col-sm-4">
					{{form.as_p}}
					<p><input type='submit' value='Actualizar' class="btn btn-primary" /></p>
			</div>
			<div class="col-sm-4"></div>
		</div>
	</form>


{% endblock %}
